.horizontal-content {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 5px 0;
}

.horizontal-content video {
    max-width: 100%;
    cursor: pointer;
}

.horizontal-content-info {
    position: absolute;
    bottom: 2%;
    left: 3%;
}

.peya-videocaso .horizontal-content-info {
    color: #f2f2f2;
}

.horizontal-content-info h4 {
    font-family: "Terminal Grotesque";
    font-size: 70px;
    font-weight: lighter;
    margin-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .horizontal-content-info h4 {
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    .horizontal-content-info p {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 450px) and (max-width: 1020px) {
    .horizontal-content-info h4 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }

    .horizontal-content-info p {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1600px) {
    .horizontal-content-info h4 {
        font-size: 3em;
        margin-bottom: 0.2em;
    }
}

@media screen and (min-width: 800px) {
    .content-horizontal {
        transform: scale(2);
    }
  }
  