.parent {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    margin: 0;
    z-index: 10;
    overflow-x: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-info {
    display: flex;
    align-items: center;
}

.navbar-info h1, .navbar-info h2 {
    font-size: 1.5em;
}

h1 span{
    margin-left: 30px;
    margin-right: 5px;
}

h2 span {
    margin-left: 12px;
    margin-right: 8px;
}

.navbar-icon {
    font-size: 1.8em;
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 375px) {
    .navbar-info h1, .navbar-info h2 {
        font-size: 1em;
    }

    .navbar-icon {
        font-size: 1.3em;
    }
}