.parent-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    overflow-x: hidden;
    height: 100%;
    color: #10120e;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-info {
    display: flex;
    align-items: center;
    width: 100%;
}


.navbar-info h1, .navbar-info h2 {
    font-size: 1.5em;
}

.navbar-info span{
    display: inline-block;
}

h1, h2, .navbar-info, .navbar-info span {
    transition: all 0.7s;
}

h1 span{
    margin-left: 30px;
    margin-right: 5px;
}

h2 span {
    margin-left: 12px;
    margin-right: 8px;
}

.navbar-icon {
    font-size: 1.8em;
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
}

@media screen and (max-width: 500px) {
    .navbar-info h1 {
        font-size: 1em;
        width: 50%;
    }
}


@media screen and (min-width: 300px) and (max-width: 500px) {
    .navbar-info h1 {
        text-align-last: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .navbar-info h1 {
        font-size: 1.2em;
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .navbar-info h1, .navbar-info h2 {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .navbar-info h1, .navbar-info h2 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1610px) {
    .navbar-info {
        text-align: center;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-info h1 {
        height: auto;
        padding: 20px;
        line-height: 1.2;
    }

    .navbar-info h2 {
        display: none;
    }

}

@media screen and (max-width: 1280px) {
    .navbar-icon {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .navbar-info h1:hover, .navbar-info h2:hover {
        color: #787878b7;
    }

    .navbar-icon:hover span {
        transition: 1s;
        color: #787878b7;
        transform: scale(1.1);
    }

    .navbar-info h1:hover span, .navbar-info h2:hover span {
        transform: scale(1.3);
        color: #787878b7;
    }
}