.vertical-content {
    max-width: 100%;
    display: grid;
    margin-bottom: 2em;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}

.vertical-content video {
    width: 100%;
    height: auto;
}

.vertical-content-info {
    display: flex;
    justify-content: center;
    padding-left: 70px;
    flex-direction: column;
}

.vertical-content-info h4 {
    font-size: 125px;
    margin-bottom: 5px;
    font-family: "Terminal Grotesque";
    font-weight: lighter;
}

.vertical-content-info h4 + p{
    margin-bottom: 70px;    
    font-size: 30px;
    font-style: italic;
}

.vertical-content-info p:not(.vertical-content-info h4 + p) {
    font-size: 25px;
    margin-bottom: 5px;
}

/* specific styles */

.manual-pedidosya {
    background-color: black;
    color: white;
}

.keyframes-project {
    background-color: #f1eded;
}

.keyframes-project h4 {
    color: white;
}

.comision-enigma {
    background-color: black;
    color: white;
}