.vertical-content {
    max-width: 100%;
    width: 100%;
    display: grid;
    margin-bottom: 2em;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 0;
    position: relative;
}

.vertical-content video {
    width: 100%;
    height: auto;
}

.vertical-content div:last-child {
    position: relative;
}

.vertical-content-info {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    flex-direction: column;
}

.vertical-content-info h4 {
    font-size: 127px;
    margin-bottom: 5px;
    font-family: 'Terminal Grotesque';
    font-weight: lighter;
}

.vertical-content-info h4+p {
    margin-bottom: 70px;
    font-size: 30px;
    font-style: italic;
}

.vertical-content-info p:not(.vertical-content-info h4 + p) {
    font-size: 25px;
    margin-bottom: 5px;
}

.vertical-content:hover .volume-muted,
.volume-on {
    opacity: 1;
}

/* specific styles */

.manual-pedidosya {
    background-color: black;
    color: #f2f2f2;
}

.keyframes-project {
    background-color: #f1e8e8;
}

.keyframes-project h4 {
    color: white;
}

.comision-enigma {
    background-color: black;
    color: #f2f2f2;
}

.modo-federal {
    background-color: #dcdcdc;

}

.modo-federal h4 {
    color: white;
}

.manual-pedidosya div:last-child,
.comision-enigma div:last-child {
    order: -1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .vertical-content {
        display: grid;
        margin: 0.3em 0;
        grid-template-columns: 1fr;
    }

    .vertical-content-info h4 {
        font-size: 1.5em;
        margin-bottom: 0.1em;
    }

    .vertical-content-info h4+p {
        margin-bottom: 0.6em;
        font-size: 0.6em;
    }

    .vertical-content-info p:not(.vertical-content-info h4 + p) {
        font-size: 0.6em;
        margin-bottom: 0.3em;
    }

    .vertical-content-info p:last-child {
        padding: 0 0 15px;
    }

    .manual-pedidosya video,
    .comision-enigma video {
        order: 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 500px) {
    .vertical-content-info h4 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .vertical-content-info h4+p {
        margin-bottom: 0.8em;
        font-size: 0.8em;
    }

    .vertical-content-info p:not(.vertical-content-info h4 + p) {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 450px) and (max-width: 1280px) {
    .vertical-content-info h4 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .vertical-content-info h4+p {
        margin-bottom: 1em;
        font-size: 1em;
    }

    .vertical-content-info p:not(.vertical-content-info h4 + p) {
        font-size: 1em;
        margin-bottom: 0.7em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .vertical-content-info h4 {
        font-size: 5em;
        margin-bottom: 0.7em;
    }

    .vertical-content-info h4+p {
        margin-bottom: 2em;
        font-size: 2em;
    }

    .vertical-content-info p:not(.vertical-content-info h4 + p) {
        font-size: 2em;
        margin-bottom: 0.9em;
    }
}
