.parent-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin: 0;
    display: none;
    color: #10120e;
}

.footer-container {
    display: flex;
    font-size: 1.2em;
}

a {
    color: #10120e;
}

h3,
a {
    transition: all 0.7s;
}

h3:first-child {
    margin-right: 25px;
}

h3 span {
    display: inline-block;
    margin-left: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 400px) {
    .footer-container {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1281px) {
    .parent-footer {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .footer-container h3:hover {
        color: #787878b7;
        transform: scale(1.1);
    }

    .footer-container h3:hover span,
    .footer-container h3:hover a {
        color: #787878b7;
    }
}
