.parent {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    font-size: 1.2em;
}

h3:first-child {
    margin-right: 25px;
}

h3:first-child span {
    margin-left: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 400px) {  
    .footer-container {
        font-size: 0.8em;
    }
}