@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Space Mono', monospace, 'Courier New', Courier, monospace;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Terminal Grotesque";
  src: local("terminal-grotesque"), url("./assets/fonts/terminal-grotesque.ttf") format("truetype");
}
